{% extends "app/layout.html" %}

{% block content %}
<div class="jumbotron">
        <h1 class="lead" align="center" ; style="color:red; front-size:200px">"CURRICULUM" </h1>
    <h2 class="lead" align="center" ; style="color:indianred; front-size:200px">Jose Luis Delgadillo Gonzalez</h2>
    <p><a  href="https://www.facebook.com/joseluis.delgadillogonzalez"  class="btn btn-primari row">Facebook &raquo;</a></p>
 
</div>
<img src="../../static/app/img/IMG_20191005_124713.jpg" />
<body class="row"style="color:black">
       <div class="jumbotron">
        <h2>Informaciones</h2>
        <p>

           <ul>
               <li>Nombre: Jose Luis Delgadillo Gonzalez</li>
              <li>Fecha de nacimiento: 03 de Enero de 1997</li>
               <li>Ciudad: Tepatitlan de morelos jal.</li>
               <li>Direrccion: Tabachon #572</li>
               <li>Cel: 378-128-2070 Tel: 78-167-33</li>
             
            </ul>
        </p>
        
     
    </div> 
 <div class="jumbotron">
        <h2>Get more libraries</h2>
        <table class="egt">
            <tr>
                
                <td>Escula</td>
                <td>Nombre</td>
                <td>Direccion</td>
                <td>Fechas</td>
                <td>Titulo recobido</td>


            </tr>
            <tr>
                <td>Primaria</td>
                <td>Francisco medina acencio</td>
                <td>Jardines de tepa</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>     

        </table>
  
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
 </div>
     <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
 </div>
    
</body>
{% endblock %}
